@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&display=swap');

/* font-weight
100
400
500
700
*/

/* font-family: 'Roboto', sans-serif; */

body {
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   color: #262626;
}

h1, h2, h3, h4, h5, h6, th {
   text-transform: uppercase;
}

th {
   text-align: left;
}

a {
   color: inherit;
}

main.grid {
   max-width: 1024px;
   margin: 0 auto;
}

/* ## Grid */
.grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: repeat(4, 1fr);
}

aside {
   background-color: #e0e0e0;
   grid-row: 1 / 5;
}

header, section {
   grid-column: 2 / 4;
}


/* ## Global */
.title {
   position: relative;
   display: inline-block;
   font-weight: lighter;
}

section .title::after {
   content: '';
   display: block;
   height: 1px;
   width: 100vw;
   background-color: #262626;

   position: absolute;
   top: 50%;
   left: calc(100% + 1rem);
   transform: translateY(-50%);
}

.title--aside {
   font-weight: bold;
   display: block;
}

.title--aside::after {
   content: '';
   height: 2px;
   width: 100%;
   background-color: #262626;
   margin-top: 1rem;
   display: block;
}

section{
   overflow-x: hidden;
   padding: 1rem 2rem 0;
}

/* ## time-line */
.time-line__item {
   padding: .3rem 1.2rem;
   border-radius: 5px;
}

.time-line__item--last {
   background-color: #c4c4c5;
}

/* ## Header */
.hero {
   background-color: #eaeaea;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.hero__title {
   font-size: 3rem;
   font-weight: 700;
   display: block;
   margin-bottom: 1rem;

   position: relative;
}

.hero__title::after {
   content: '';
   display: block;
   height: 1rem;
   width: 1px;

   position: absolute;
   bottom: -1rem;
   left: 50%;
   transform: translateX(-50%);

   background-color: #262626;
}

.hero__title--light {
   font-weight: 100;
}

.hero__subtitle {
   font-style: normal;
   font-size: 1rem;

}

/* ## photo */
.photo {
   padding: 1rem;
}

.photo img {
   max-width: 210px;
}

/* ## profile */
.education__profile-desc {
   text-align: left;
}

/* ## contact */
.contact > div[class^="contact__"] {
   margin: 2.5rem 0;
}

.contact__text {
   display: block;
}

/* ## aside */
aside {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;

   text-align: center;
   padding: 2rem 3rem;
}

/* ## languages */
.languages h3 {
   margin-bottom: 0;
}

/* ## skills */
.skills-data th {
   padding-right: 2rem; 
}
